`.metadata/

SEM_03_01/.settings/
SEM_03_01/bin/
SEM_03_01/.classpath
SEM_03_01/.project

SEM_02_01/.settings/
SEM_02_01/bin/
SEM_02_01/.classpath
SEM_02_01/.project

SEM_01_01/.settings/
SEM_01_01/bin/
SEM_01_01/.classpath
SEM_01_01/.project
